* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Karla", sans-serif;
}

:root {
  --x: 0;
  --y: 0;
  --scroll: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
}

.main {
  /* border: 2px solid black; */
  position: absolute;
  top: 110px;
  overflow-y: scroll;
  height: 85vh;
}

.main::-webkit-scrollbar {
  display: none;
}

.hero--carousel {
  margin-top: 50px;
  margin-inline: 110px;
  padding-inline: 50px;
  display: flex;
  position: relative;
  justify-content: center;
}

.hero--button {
  width: 5%;
  height: 100%;
  background-color: rgb(128, 128, 128, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 15px;
  background-color: rgb(98, 210, 98, 0.5);
}

.left {
  position: absolute;
  left: 0;
  border-radius: 30px 0 0 30px;
}

.right {
  position: absolute;
  right: 0;
  border-radius: 0 30px 30px 0;
}

.arrow {
  width: 40px;
}

.image--zoom {
  overflow: hidden;
  width: 96%;
}

.hero--image {
  width: 100%;
}

.hero--image:hover {
  transform: translate(calc(10% - 20% * var(--x)), calc(10% - 20% * var(--y)))
    scale(1.2);
  transition: transform 0.2s;
}

.image--zoom:hover {
  border: 2px solid green;
}

.arrow:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.left:hover {
  transform: translate(-5px);
  transition: transform 0.2s;
}

.right:hover {
  transform: translate(5px);
  transition: transform 0.2s;
}

.info {
  padding: 40px 110px;
  display: flex;
  justify-content: space-between;
}

.info--title {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -2px;
}

.info--shortinfo {
  margin: 3px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1px;
}

.info--consistsof {
  margin: 2px;
  margin-top: 15px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -1px;
}

.info--contains {
  margin: 2px;
  list-style-type: none;
  padding: 0;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: 50px;
}

.grid--row1 {
  padding-top: 35px;
  font-size: 20px;
  grid-column: 1 / 3;
  grid-row: 1;
}

.grid--quantity {
  padding-top: 8px;
  border: 2px solid black;
  text-align: center;
  font-size: 30px;
  grid-column: 1;
  grid-row: 2;
}

.grid--price {
  padding-top: 8px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  grid-column: 2/2;
  grid-row: 2;
}

.grid--addtocart {
  background-color: #15843c;
  color: white;
  padding: 7px 80px;
  text-align: center;
  font-size: 25px;
  grid-column: 1/3;
  grid-row: 3;
}

.grid--buynow {
  background-color: rgb(21, 15, 15);
  color: white;
  padding: 7px 80px;
  text-align: center;
  font-size: 25px;
  grid-column: 1/3;
  grid-row: 4;
}

.grid--addtocart:hover {
  border: 2px solid black;
  transform: scale(1.05);
  transition: transform 0.1s;
}

.grid--buynow:hover {
  border: 2px solid black;
  transform: scale(1.05);
  transition: transform 0.1s;
}

.grid--icons {
  grid-column: 1/3;
  grid-row: 5;
}

.slideshow {
  /* border: 2px solid black; */
  margin-inline: 70px;
  padding: 20px 40px;
  padding-bottom: 0;
  height: 600px;
  overflow-y: scroll;
}

.slideshow::-webkit-scrollbar {
  display: none;
}

.one-slide {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.slideshow--image {
  width: 69%;
  border-radius: 15px;
}

.headeranddescription {
  border: 3px solid green;
  border-radius: 15px;
  width: 29%;
  padding-top: 50px;
  /* background-color: black; */
  color: green;
}

.heading {
  padding: 5px;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -1px;
}

.description {
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
}

.footer {
  margin-top: 60px;
  background-color: rgb(169, 167, 167);
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 700px;
}
